body {
    display: grid;
    font-family: sans-serif;
    font-size: 24px;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 2fr; 
    grid-template-areas: 
      "nav nav nav"
      "aside main main"
      "footer footer footer"; 
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  aside {
    background-color: #38b18a;
    grid-area: aside; /* name of area */
  }
  
  main {
    background-color: #92d97c;
    grid-area: main; /* name of area */
  }
  
  nav {
    grid-area: nav; /* name of area */
  }
  
  footer {
    background-color: #f9f871;
    grid-area: footer; /* name of area */
  }
  
  footer, nav {
    min-height: 60px
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 10px;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 500px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }
  