body {
    background-color: lightgray;
    margin: 0px;
    font-family: system-ui, sans-serif;
  }
  #btn {
    background-color: #A0A1DE;
    color: #FFFFFF;
    font-size: 20px;
    padding: 8px 16px;
  }
  